<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR SCENE!</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/">Home</a> |
                <a href="/dashboard">Dashboard</a> |
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>| 
                <a href="/">Home</a> 
                {{/if}}
            </nav>
        </header>

        <div class="title align-center p-2">
        <h1>YOUR SCENE!</h1>
        </div>

        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>
            <aside>&copy; 2024 YOUR SCENE &copy;</aside>
        </footer>
    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>