.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #f2ff00;
    text-decoration: underline;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
  }
  
  /* Reset default margin and padding */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fefefe;
    color: #ffffff;
    background-image: url('../images/crowd.jpg');

  }
  
  /* Header styles */
  header {
    background-color: #000000;
    color: white;
    padding: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
  }
  
  /* Main content styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;;
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 25px;
    margin-top: 9.5rem;
    position: relative;
  }

  .title {
    border-radius: 50px;
    border: 3px solid #ccc;
    width: 20rem;
    margin: 20px;
    background-color: #ddd540;
  };
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    padding: 0 15px;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  
  .form {
    background-color: #828282;
    padding: 20px;
    border-radius: 50px;
    border: 3px solid #ccc;
    box-shadow: 2px 4px 4px #000000;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  textarea {
    height: 150px;
  }
  
  .btn {
    background-color: #e2ff3b;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #efff0c;
  }
  
  .text-center {
    text-align: center;
    margin: 20px;
    background-color: #ddd540;
    border-radius: 10px;
    border: 3px solid gray;
    padding: 15px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .text-center h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .text-center p {
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .form-group {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #00c3ff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #e7ff0f;
  }
  
  .post-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .post-card p {
    color: #666;
    margin-bottom: 10px;
  }
  
  .post-card-content {
    margin-top: 10px;
  }
  
  .post-card-content p {
    line-height: 1.5;
  }
  
  .post-card-footer {
    margin-top: 10px;
    color: #999;
    font-size: 0.8em;
  }
